@model IEnumerable<ABM_PRODUCTO.Models.Producto>

@{
    ViewData["Title"] = "Index";
}



<p>
    <a asp-action="Create">Agregar Producto</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaVencimiento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaVencimiento)
            </td>
            <td>
                    <a asp-action="Edit" class="btn btn-outline-success" asp-route-id="@item.IdProducto">Editar</a> |
                    <a asp-action="Details" class="btn btn-outline-info" asp-route-id="@item.IdProducto">Detalles</a> |
                    <a asp-action="Delete" class="btn btn-outline-danger" asp-route-id="@item.IdProducto">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
